
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DREAM CAKE </title>
    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/timber.scssc18b.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/check_outc18b.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/custom.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/style-cafesuplo.scssc18b.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/owl.carouselc18b.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/owl.themec18b.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/owl.transitionsc18b.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link th:href="@{/css/font-awesome.min.css?v=1843}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script th:src="@{/js/jquery.min.js}" type='text/javascript'></script>
    <script th:src="@{/js/modernizr.minc18b.js?v=1843}" type='text/javascript'></script>
    <script th:src="@{/js/owl.carousel.minc18b.js?v=1843}" type='text/javascript'></script>
    <!--    Test icon-->


</head>
<body id="" class="template-index">
<!-- HEADER -->
<div th:replace="fragments/header::header"></div>
<!--HEADER-->

<!--Image bottom header-->
<section class="breadcrumb-w-img" id="breadcrumb-wrapper">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">
                    <h2 >
                       KHUYẾN MẠI
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Image bottom header-->


<!--body-->

<section id="blog-wrapper">
    <div class="wrapper">
        <div class="inner">
            <h1 class="text-center">
                Khuyến mại
            </h1>
            <div class="grid-uniform">


                <div class="grid__item large--one-third medium--one-half small--one-whole">
                    <div class="article-item">
                        <div class="article-img">
                            <a href="">
                                <img th:src="@{/images/ah-1-6_eada9eab1819438ca4ee1ba6be1eec9f_cc6a3ca42ed24135a7be0001ef9dbe68_large.png}" alt="BÁNH NGON MÊ LY - TẾT THIẾU NHI CHO BÉ">
                            </a>
                            <div class="article-date text-center">
                                <div class="article-day">31</div>
                                <div class="article-month-year">
                                    <span>05 /</span>
                                    <span>2022</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-title text-center">
                            <a href="" alt="">BÁNH NGON MÊ LY - TẾT THIẾU NHI...</a>
                        </div>
                        <div class="article-overview text-center">
                            <div class="article-cmt-count">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Bakery Dream Cake
                            </div>
                        </div>
                        <div class="article-desc">

                            💥 Ngày Quốc tế thiếu nhi sắp đến, các bố mẹ hẳn đang rất băn khoăn vì không biết chọn quà như thế nào để thể hiện sự yêu thương dành cho các bé ?🎉🎉🎉 Đôi khi những món quà đắ...

                        </div>
                    </div>

                </div>

                <div class="grid__item large--one-third medium--one-half small--one-whole">
                    <div class="article-item">
                        <div class="article-img">
                            <a href="">
                                <img th:src="@{/images/motherday.png}" alt="𝐇𝐀𝐏𝐏𝐘 𝐌𝐎𝐓𝐇𝐄𝐑'𝐒 𝐃𝐀𝐘 𝟏𝟎.𝟓">
                            </a>
                            <div class="article-date text-center">
                                <div class="article-day">08</div>
                                <div class="article-month-year">
                                    <span>05 /</span>
                                    <span>2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-title text-center">
                            <a href="" alt="">𝐇𝐀𝐏𝐏𝐘 𝐌𝐎𝐓𝐇𝐄𝐑'𝐒 𝐃𝐀𝐘 𝟏𝟎.𝟓</a>
                        </div>
                        <div class="article-overview text-center">
                            <div class="article-cmt-count">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Dream Cake
                            </div>
                        </div>
                        <div class="article-desc">

                            "Con dù lớn vẫn là con của mẹ Đi hết đời, lòng mẹ vẫn theo con"Ngày của Mẹ đã sắp đến rồi! Năm nay sẽ là ngày 10/5 đó mọi người ạ. Ngày của Mẹ hay Ngày Hiền Mẫu là một ngày kỷ n...

                        </div>
                    </div>

                </div>

                <div class="grid__item large--one-third medium--one-half small--one-whole">
                    <div class="article-item">
                        <div class="article-img">
                            <a href="">
                                <img th:src="@{/images/735a6-b264-40de-9521-61e6c2ba19f7_cce3c0aedf2f42808c3c926c5f3c632e_2a3e002364774f48818b863da344e518_large.png}" alt="Free Ship Ngay">
                            </a>
                            <div class="article-date text-center">
                                <div class="article-day">05</div>
                                <div class="article-month-year">
                                    <span>04 /</span>
                                    <span>2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-title text-center">
                            <a href="" alt="">Free Ship Ngay</a>
                        </div>
                        <div class="article-overview text-center">
                            <div class="article-cmt-count">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                            </div>
                            <div class="article-author">
                                <i class="fa fa-user" aria-hidden="true"></i> Dream Cake
                            </div>
                        </div>
                        <div class="article-desc">

                            #Dream_Cake #FREESHIP_NGAY - #CHUNG_TAY_CHỐNG_DỊCH.️💥 Để bạn vẫn có thể thưởng thức được những chiếc bánh kem nhà Dream Cake trong thời điểm ảnh hưởng vì dịch bệnh, chú...

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!--body-->




<!-- FOOTER -->
<div th:replace="fragments/footer::footer"></div>
<!-- FOOTER -->