<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Thông tin chi tiết</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link media='all' rel='stylesheet' th:href="@{/css/timber.scssc18b.css?v=1843}" type='text/css'/>
    <link media='all' rel='stylesheet' th:href="@{/css/check_outc18b.css?v=1843}" type='text/css'/>
    <link media='all' rel='stylesheet' th:href="@{/css/style-cafesuplo.scssc18b.css?v=1844}" type='text/css'/>
    <link th:href="@{/css/custom.css?v=1843}" rel='stylesheet' type='text/css' media='all'/>
    <link media='all' rel='stylesheet' th:href="@{/css/owl.carouselc18b.css?v=1843}" type='text/css'/>
    <link media='all' rel='stylesheet' th:href="@{/css/owl.themec18b.css?v=1843}" type='text/css'/>
    <link media='all' rel='stylesheet' th:href="@{/css/owl.transitionsc18b.css?v=1843}" type='text/css'/>
    <link crossorigin="anonymous" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          rel="stylesheet" th:href="@{/css/font-awesome.min.css?v=1843}">
    <script th:src="@{/js/jquery.min.js}" type='text/javascript'></script>
    <script th:src="@{/js/modernizr.minc18b.js?v=1843}" type='text/javascript'></script>
    <script th:src="@{/js/owl.carousel.minc18b.js?v=1843}" type='text/javascript'></script>
</head>
<body>

<!-- HEADER -->
<div th:replace="fragments/header::header"></div>
<!--HEADER-->

<!--Image bottom header-->
<section class="breadcrumb-w-img" id="breadcrumb-wrapper">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">
                    <h2 >
                        CARAMEL AND CHOCOLATE CAKE MOUSSE Vuông
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Image bottom header-->



<!--Body-->
<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">

        <section id="collection-wrapper" >
            <div class="wrapper">
                <div class="inner"  >
                    <h1 class="text-center" >
                            Bánh mì
                    </h1>
                    <div class="grid">
                        <div class="grid__item large--three-twelfths medium--one-whole small--one-whole">
                            <div class="collection-sidebar-wrapper-sticky">
                                <div class="collection-sidebar-wrapper">
                                    <div class="grid">
                                        <div class="grid__item large--one-whole medium--one-half push--medium--one-quarter small--one-whole">
                                            <div class="collection-categories">
                                                <button class="accordion cs-title col-sb-trigger active">
                                                    <span>Danh mục menu</span>
                                                </button >
                                                <div  class="panel" style="max-height: 1100px;">
                                                    <ul class="no-bullets" th:each="category, iStat : ${categories}"
                                                       >
                                                        <li>
                                                            <a  th:href="@{/shop/category/{id}(id=${category.id})}"
                                                                th:text="${category.name}">Bánh Mỳ</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__item large--nine-twelfths medium--one-whole small--one-whole float-right">
                            <div class="grid-uniform">
                                <div class="all-collection">

                                    <!-- For tu day -->
                                    <div class="grid__item large--four-twelfths medium--three-twelfths small--six-twelfths">
                                        <div class="product--loop" th:each="product : ${products}">
                                            <div class="product-img">
                                                <a>
                                                    <img th:alt="${product.name}" th:src="@{${'/productImages/' + product.imageName}}">
                                                </a>
                                            </div>
                                            <div class="product-title text-center">
                                                <a   th:href="@{/shop/viewproduct/{id}(id=${product.id})}" th:text="${product.name}" >
                                                    Name here
                                                </a>
                                                <p>
                                                </p>
                                            </div>
                                            <div class="product-price-actions clearfix">
                                                <div class="product-price" th:text="${#numbers.formatCurrency(product.price)}">
                                                  <span> VND</span>
                                                </div>
                                                <div class="product-actions">
                                                    <a type="button" class="btn add-to-cart "
                                                       data-id="1033193537"
                                                       th:href="@{/addToCart/{id}(id = ${product.id})}">
                                                        <i  class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- for tu day -->


                                    <!-- for tu day -->
                                    <div class="grid__item large--four-twelfths medium--three-twelfths small--six-twelfths">
                                        <div class="product--loop">
                                            <div class="product-img">
                                                <a href="../products/banh-my-chuot-1.html">
                                                    <img alt="BÁNH MÌ CHUỘT" th:src="@{/images/demo_product.png}">
                                                </a>
                                            </div>
                                            <div class="product-title text-center">
                                                <a href="../products/banh-my-chuot-1.html">
                                                    BÁNH MÌ CHUỘT
                                                </a>
                                                <p>

                                                </p>
                                            </div>
                                            <div class="product-price-actions clearfix">
                                                <div class="product-price">
                                                    3,000₫
                                                </div>
                                                <div class="product-actions">

                                                    <button type="button" class="btn add-to-cart "  data-id="1036663520"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- for tu day -->



                                </div>
                            </div>
                            <div class="grid">
                                <div class="grid__item text-center">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <style>
            .collection-sidebar-wrapper.stick {
                position: fixed;
                top: 0;
                z-index: 10;
                max-width: 288px;
            }
        </style>

    </main>
</div>

<!--Body-->

<!-- FOOTER -->
<div th:replace="fragments/footer::footer"></div>
<!-- FOOTER -->

</body>
</html>
